<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>a9ae7d8852eab508b86896d5cd375999</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>USER STABLE</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>72</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>isofhcare</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb457683741386685</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string/>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>momocomu20200526</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.553446981035-bo2beb0me37ooagphjp7b1rg17lpp5qr</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.553446981035-bo2beb0me37ooagphjp7b1rg17lpp5qr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.isofh.appisofhcarestable</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>payoo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.isofh.appisofhcaredev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.isofh.appisofhcaredev</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>103</string>
	<key>CodePushDeploymentKey</key>
	<string>DUbW5MDD3IKtX3UTmV-wMGTf5d1rSJeC8CBJH</string>
	<key>FacebookAppID</key>
	<string>187875142367413</string>
	<key>FacebookCodelessDebugLogEnabled</key>
	<true/>
	<key>FacebookDisplayName</key>
	<string>iSofH Care</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>momo</string>
		<string>fb</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>codepush.azurewebsites.net</key>
			<dict/>
			<key>codepush.blob.core.windows.net</key>
			<dict/>
			<key>codepushupdates.azureedge.net</key>
			<dict/>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Cho phép iSofH Care truy cập thư viện nhạc của thiết bị này để lưu hoặc tải nhạc.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Cho phép iSofH Care truy cập bluetooth của thiết bị này để kết nối với thiết bị khác.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Cho phép iSofH Care truy cập lịch của thiết bị này.</string>
	<key>NSCameraUsageDescription</key>
	<string>Cho phép iSofH Care truy cập máy ảnh của thiết bị này để lưu hoặc cập nhật ảnh cho ứng dụng.</string>
	<key>NSContactsUsageDescription</key>
	<string>Cấp quyền truy cập sẽ cho phép bạn chọn liên hệ để thanh toán.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>iSofH Care yêu cầu quyền truy cập FaceID để cho phép bạn truy cập nhanh chóng và an toàn</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Cho phép quyền sử dụng địa chỉ để cập nhật vị trí hiện tại của bạn.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cho phép quyền sử dụng địa chỉ để cập nhật vị trí hiện tại của bạn.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Cho phép iSofH Care truy cập mcrô của thiết bị này để ghi âm hoặc thực hiện cuộc gọi cho ứng dụng.</string>
	<key>NSMotionUsageDescription</key>
	<string>Ứng dụng này yêu cầu truy cập vào chuyển động.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cho phép iSofH Care truy cập vào thư viện ảnh của thiết bị này để lưu hoặc cập nhật ảnh cho ứng dụng.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Ứng dụng này yêu cầu truy cập vào thư viện nhận dạng giọng nói của thiết bị.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>AntDesign.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Muli-VariableFont_wght.ttf</string>
		<string>Muli-Medium.ttf</string>
		<string>Muli-Regular.ttf</string>
		<string>Muli-SemiBold.ttf</string>
		<string>Muli-Bold.ttf</string>
		<string>Muli-ExtraBold.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Muli-Black.ttf</string>
		<string>Muli-ExtraLight.ttf</string>
		<string>Muli-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
